fastapi
uvicorn[standard]
python-dotenv
firebase-admin
pydantic
ultralytics
google-genai
groq
python-multipart
requests
Pillow
langchain
langgraph
langchain-groq
langchain-google-genai
httpx
pillow-avif-plugin
